@using PagedList.Mvc
@model PagedList.IPagedList<MovieSearch.Repository.Domain.MovieToGenre>

@foreach (var item in Model)
{
    <div class="well">
        <a href="@Url.Action("MovieView", "Home", new { movieId = item.Movie.Id })">
            <h3>
                <strong>
                    @item.Movie.RussianTitle
                </strong>
            </h3>
        </a>
        <span class="lead">
            @item.Movie.Description
        </span>
</div>
}
<br/>
<div>
    <span class="lead">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    </span>
</div>
<div class="btn-group">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>